html,
body {
  padding: 0;
  margin: 0;
}

*,
::before,
::after {
  font-family: Satoshi, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background: radial-gradient(50% 50% at 50% 50%, rgba(183, 120, 255, 0.062) 0%, rgba(183, 120, 255, 0) 100%), #f6f6f6;
}

body,
.min-safe {
  min-height: 100vh;
  /* stylelint-disable-next-line value-no-vendor-prefix */
  @supports (-webkit-touch-callout: none) {
    /* stylelint-disable-next-line value-no-vendor-prefix */
    min-height: -webkit-fill-available;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-feature-settings: 'ss01' on, 'ss03' on;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -moz-font-feature-settings: 'ss01' on, 'ss03' on;
}
